@slideshowstyle: 'video';
@slideshowheight: 800;

#hero {
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    .form-container {
        width: 90%;
        max-width: (600/20em);
        margin: (100/20em) auto 0;
        text-align: left;
    }

    canvas {
        display: block;
        border: 1px solid var(--primary);
        box-shadow: var(--box-shadow);
    }
}