@slideshowstyle: 'video';
@slideshowheight: 800;

#hero {
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    form {
        width: 100%;
        max-width: (600/20em);
        margin: (100/20em) auto 0;
        text-align: left;
    }

    canvas {
        display: block;
        margin: 0 auto;
    }

    .downloadbtn {
        display: block;
    }
}